body {
    background-color: rgb(17, 22, 49);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
    overflow: hidden;
}

img {
    position: absolute;
    width: 22%;
    height: auto;
}

img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    text-align: center;
    color: rgb(211, 42, 56);
    line-height: 4vw;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(17, 22, 49);
    background-color: rgb(211, 42, 56);
    text-decoration: none;
    position: absolute;
    padding: -10px 10px;
    cursor: pointer;
}

.home-link {
    bottom: 0px;
    left: 0px;
}

.corr-link {
    top: 0px;
    right: 0px;
}

.textmq1, .textmq2, .textmq3 {
    display: none;
}

@media (max-width: 900px) {
    h1 {
        line-height: 4.25vw;
    }
    img {
        width: 39%;
    }
    a {
        font-size: 14px;
    }
    .text, .textmq1, .textmq3 {
        display: none;
    }
    .textmq1 {
        display: block;
    }
}

@media (max-width: 570px) {
    h1 {
        line-height: 4.5vw;
        letter-spacing: 1px;
    }
    img {
        width: 45%;
    }
    a {
        font-size: 11px;
    }
    .text, .textmq1, .textmq3 {
        display: none;
    }
    .textmq2 {
        display: block;
    }
}

@media (max-width: 420px) {
    h1 {
        line-height: 4.6vw;
        letter-spacing: 1.2px;
    }
    img {
        width: 60%;
        
    }
    img:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
        animation-iteration-count: 1;
      }
    a {
        font-size: 8px;
    }
    .text, .textmq1, .textmq2 {
        display: none;
    }
    .textmq3 {
        display: block;
    }
}