body {
    background-color: rgb(17, 22, 49);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
    overflow: hidden;
}

img {
    position: absolute;
    width: 22%;
    height: auto;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    text-align: center;
    color: rgb(211, 42, 56);
    line-height: 4vw;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(17, 22, 49);
    background-color: rgb(211, 42, 56);
    text-decoration: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: -10px 10px;
}

.textmq1, .textmq2, .textmq3 {
    display: none;
}

@media (max-width: 900px) {
    h1 {
        line-height: 4.25vw;
    }
    img {
        width: 39%;
    }
    .text, .textmq1, .textmq3 {
        display: none;
    }
    .textmq1 {
        display: block;
    }
}

@media (max-width: 570px) {
    h1 {
        line-height: 4.5vw;
        letter-spacing: 1px;
    }
    img {
        width: 45%;
    }
    .text, .textmq1, .textmq3 {
        display: none;
    }
    .textmq2 {
        display: block;
    }
}

@media (max-width: 420px) {
    h1 {
        line-height: 4.6vw;
        letter-spacing: 1.2px;
    }
    img {
        width: 60%;
    }
    .text, .textmq1, .textmq2 {
        display: none;
    }
    .textmq3 {
        display: block;
    }
}