body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: #222;
    height: 100vh;
    flex-direction: row;
    transition: background 3s ease-in-out;
    overflow-x: hidden;
}

.home-button {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: white;
    background-color: transparent;
    z-index: 1000;
    margin-left: 20px;
    margin-top: 20px;
}

h1 {
    font-family: "asterisk-sans-variable", sans-serif;
    font-variation-settings: "wght" 700;
    color: white;
    font-size: 86px;
    margin-left: -800px;
    display: flex;
    align-items: center;
}

h3 {
    font-family: "asterisk-sans-variable", sans-serif;
    font-variation-settings: "wght" 450;
    color: white;
    font-size: 18px;
    line-height: 24px;
    margin-left: 100px;
    margin-right: -800px;
    max-width: 500px;
}

em {
    font-variation-settings: "wght" 750;
    letter-spacing: 0.7px;
    font-style: normal;
}

p {
    height: 300px;
    width: 300px;
    position: relative;
    display: flex;
    animation: effect 12s linear infinite;
    margin-left: 100px;
    margin-top: 0px;
}

@media (max-width: 1200px) {
    body {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-x: visible;
    }

    h1 {
        font-size: 82px;
        margin-left: 0;
        margin-top: 75px;
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        margin-left: 0;
        margin-right: 0;
        margin-top: 180px;
        position: fixed;
    }

    h3 {
        font-size: 17px;
        line-height: 22px;
        margin-left: 20vw;
        margin-right: 20vw;
        margin-top: 330px;
        text-align: left;
        max-width: none;
        width: auto;
        word-wrap: break-word;
        white-space: pre-wrap;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 78px;
    }
    p {
        margin-top: 170px;
    }
    h3 {
        font-size: 15.5px;
        line-height: 20.5px;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@keyframes effect {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

span {
    position: absolute;
    left: 50%;
    transform-origin: 0px 150px;
    transform-style: flat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: white;
}