body {
  background-color: white;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-size: 180px;
  font-weight: 650;
  letter-spacing: -8px;
  line-height: 150px;
  margin-bottom: 5px;
  margin-top: 80px;
  width: 100%;
}

h3 {
  color: white;
  font-family: "Raleway", sans-serif;
  margin-left: 12px;
  font-size: 20px;
  font-weight: 550;
  margin-top: 0;  
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}

.marquee {
  background-color: white;
  padding: 0;
  width: 100%;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.marquee a {
  color: white;
  text-decoration: none;
  pointer-events: auto;
  display: block;
  position: relative;
  padding: 12px 10px;
}

.marquee a:hover {
  cursor: pointer;
}

.marquee-text {
  color: black;
  margin-left: 12px;
  margin-top: 5px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 130px;
    font-weight: 600;
    letter-spacing: -8px;
    line-height: 110px;
    margin-bottom: 5px;
    margin-top: -5px;
    margin-left: 12px;
    width: 100%;
  }

  h3 {
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 0.5px;
    line-height: 19px;
    margin-left: 16px;
    margin-top: 0;  
    margin-bottom: 5px;
  }

  .marquee-text {
    font-size: 14px;
    margin-left: 15px;
  }

  .marquee a{
    padding: 9px 10px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 90px;
    font-weight: 500;
    letter-spacing: -5px;
    line-height: 75px;
    margin-bottom: 5px;
    margin-top: 40px;
    margin-left: 10px;
  }

  h3 {
    font-size: 12px;
    font-weight: 550;
    letter-spacing: 0.5px;
    line-height: 15px;
    margin-left: 12px;
    margin-top: 0;  
    margin-bottom: 5px;
  }

  .marquee-text {
    font-size: 12px;
    margin-left: 12px;
  }

  .marquee a{
    padding: 8px 10px;
  }
}
