body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-size: 180px;
  font-weight: 650;
  letter-spacing: -8px;
  line-height: 150px;
  margin-bottom: 45px;
  margin-top: 100px;
  width: 100%;
  margin-left: 13px;
}


.yellow {
  background-color: yellow;
  color: black;
}

h3 {
  color: white;
  font-family: "Raleway", sans-serif;
  margin-left: 80px;
  font-size: 19px;
  line-height: 28px;
  font-weight: 520;
  margin-top: 0;  
  margin-bottom: 5px;
  letter-spacing: 0.9px;
  width: 650px;
}

a {
  color: yellow;
}

.marquee {
  background-color: white;
  padding: 0;
  width: 100%;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.marquee a {
  color: white;
  text-decoration: none;
  pointer-events: auto;
  display: block;
  position: relative;
  padding: 12px 10px;
}

.marquee a:hover {
  cursor: pointer;
}

.marquee-text {
  color: black;
  margin-left: 12px;
  margin-top: 5px;
}

.column {
  float: left;
  width: 195px;
  padding: 15px;
}

.row {
  margin-left: 65px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  pointer-events: none;
}

@media (max-width: 800px) {
  h1 {
    font-size: 115px;
    font-weight: 580;
    letter-spacing: -7px;
    line-height: 98px;
    margin-bottom: 25px;
    margin-top: 65px;
    margin-left: 15px;
    width: 80%;
  }

  h3 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 24px;
    margin-left: 58px;
    margin-top: 0;  
    margin-bottom: 5px;
    margin-right: 100px;
    width: 380px;
  }

  .marquee-text {
    font-size: 14px;
    margin-left: 15px;
  }

  .marquee a{
    padding: 9px 10px;
  }

  .column {
    width: 115px;
    padding: 9px;
  }

  .row {
    margin-left: 45px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 70px;
    font-weight: 490;
    letter-spacing: -3.5px;
    line-height: 58px;
    margin-bottom: 15px;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 0px;
  }

  h3 {
    font-size: 12px;
    font-weight: 480;
    letter-spacing: 0.6px;
    line-height: 17px;
    margin-left: 40px;
    margin-top: 0;  
    margin-bottom: 5px;
    display: flex;
    margin-right: 70px;
    width: 240px;
  }

  .marquee-text {
    font-size: 12px;
    margin-left: 12px;
  }

  .marquee a{
    padding: 8px 10px;
  }

  .column {
    width: 76px;
    padding: 4px;
  }

  .row {
    margin-left: 36px;
  }
}
