body {
    background-image: url('img7/background.png');
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
}

html, body {
    cursor: url("img7/torocursor.png") 32 32, auto;
}

h1 {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    position: absolute;
    color: white;
    text-align: center;
    top: 270px;
    left: 390px;
    width: 600px;
}

h2 {
    font-family: "Pixelify Sans", sans-serif;
    color: yellow;
    font-size: 21px;
    font-weight: 400px;
    position: absolute;
    text-align: left;
    top: 4px;
    left: 140px;
    width: 140px;
}

h3 {
    font-family: "Pixelify Sans", sans-serif;
    color: rgb(234, 39, 39);
    font-size: 22px;
    font-weight: 450px;
    position: absolute;
    text-align: right;
    top: 500px;
    left: 950px;
    width: 290px;
}

h4 {
    font-family: "Pixelify Sans", sans-serif;
    color: rgb(83, 83, 241);
    font-size: 20px;
    font-weight: 400px;
    letter-spacing: 0.2px;
    position: absolute;
    text-align: right;
    top: 420px;
    left: 190px;
    width: 230px;
}

h5 {
    font-family: "Pixelify Sans", sans-serif;
    color: rgb(21, 182, 21);
    font-size: 28px;
    font-weight: 440px;
    position: absolute;
    top: 200px;
    left: 930px;
    width: 230px;
}

#ufo1, #ufo2, #ufo3, #star, #flower1, #flower2, #flower3, #flower4, #flower5, #flower6, 
#cat1, #cat2, #cat3, #milk, #bunny1, #bunny2, #bunny3 {
    position: absolute;
}

#ufo1 {
    top: 35px;
    left: 1170px;
    width: 240px;
    height: auto;
}

#ufo2 {
    top: 80px;
    left: 920px;
    width: 200px;
    height: auto;
}

#ufo3 {
    top: 230px;
    left: 1150px;
    width: 220px;
    height: auto;
}

#star {
    top: 140px;
    left: 1130px;
    width: 80px;
    height: auto;
}

#flower1 {
    top: 220px;
    left: -40px;
    width: 190px;
    height: auto;
}

#flower2 {
    top: 480px;
    left: 30px;
    width: 160px;
    height: auto;
}

#flower3 {
    top: 260px;
    left: 420px;
    width: 120px;
    height: auto;
}

#flower4 {
    top: 540px;
    left: 740px;
    width: 200px;
    height: auto;
}

#flower5 {
    top: 580px;
    left: 120px;
    width: 170px;
    height: auto;
}

#flower6 {
    top: 340px;
    left: 860px;
    width: 100px;
    height: auto;
}

#cat1 {
    top: 560px;
    left: 500px;
    width: 250px;
    height: auto;
}

#cat2 {
    top: 640px;
    left: 1090px;
    width: 190px;
    height: auto;
}

#cat3 {
    top: 590px;
    left: 310px;
    width: 170px;
    height: auto;
}

#milk {
    top: 420px;
    left: 1200px;
    width: 290px;
    height: auto;
}

#bunny1 {
    top: 100px;
    left: 310px;
    width: 220px;
    height: auto;
}

#bunny2 {
    top: 90px;
    left: 580px;
    width: 170px;
    height: auto;
}

#bunny3 {
    top: 0px;
    left: 350px;
    width: 450px;
    height: auto;
}

.earth-gif {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 110px;
    height: auto;
}
    
@media (max-width: 410px) {

    #ufo1, #ufo2, #ufo3, #star, #flower1, #flower2, #flower3, #flower4, #flower5, #flower6, 
    #cat1, #cat2, #cat3, #milk, #bunny1, #bunny2, #bunny3 {
        pointer-events: none;
    }

    h1 {
        font-weight: 300;
        font-size: 38px;
        position: absolute;
        top: 250px;
        left: 30px;
        line-height: 34px;
        width: 280px;
        letter-spacing: 0.4px;
    }
    
    h2 {
        font-size: 12px;
        font-weight: 400px;
        position: absolute;
        top: 5px;
        left: 86px;
        width: 80px;
        line-height: 14px;
    }
    
    h3 {
        font-size: 14px;
        font-weight: 450px;
        position: absolute;
        text-align: left;
        top: 190px;
        left: 30px;
        width: 160px;
    }
    
    h4 {
        font-size: 14px;
        font-weight: 400px;
        letter-spacing: 0.2px;
        position: absolute;
        top: 420px;
        left: 70px;
        width: 125px;
    }
    
    h5 {
        font-size: 17px;
        font-weight: 440px;
        position: absolute;
        top: 370px;
        left: 160px;
        width: 230px;
    }

    .earth-gif {
        top: 12px;
        left: 10px;
        width: 70px;
        height: auto;
    }

    #ufo1 {
        display: block;
        width: 0px;
    }
    
    #ufo2 {
        top: 100px;
        left: 10px;
        width: 110px;
    }

    #ufo3 {
        top: 150px;
        left: 180px;
        width: 90px;
    }

    #star {
        top: 120px;
        left: 110px;
        width: 70px;
    }

    #flower1 {
        top: 480px;
        left: -20px;
        width: 90px;
    }

    #flower2 {
        top: 530px;
        left: 265px;
        width: 80px;
    }

    #flower3 {
        display: block;
        width: 0px;
    }

    #flower4 {
        top: 550px;
        left: 35px;
        width: 80px;
    }

    #flower5 {
        display: block;
        width: 0px;
    }

    #flower6 {
        top: 450px;
        left: 250px;
        width: 40px;
    }

    #cat1 {
        top: 240px;
        left: 210px;
        width: 40px;
    }

    #cat2 {
        top: 590px;
        left: 115px;
        width: 90px;
    }

    #cat3 {
        display: block;
        width: 0px;
    }

    #milk {
        top: 510px;
        left: 175px;
        width: 120px;
    }

    #bunny1 {
        top: 40px;
        left: 145px;
        width: 90px;
    }

    #bunny2 {
        top: 40px;
        left: 240px;
        width: 90px;
    }
    
    #bunny3 {
        top: 0px;
        left: 140px;
        width: 200px;
    }
}