body {
    background-image: url(img3/background.gif);
    background-position: initial;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    line-height: 0.5;
    margin: 0;
    padding: 0;
}

.handjet-blue {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 525;
    font-style: normal;
    color: #cad0f7;
    font-size: 35px;
    line-height: 0.25;
    padding: 5px;
    margin-left: 30px;
}

.orbitron-pink {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(240, 186, 198);
    font-size: 10w;
    padding: 5px;
}

.home {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

h2.orbitron-pink:first-of-type {
    font-size: 30px;
    line-height: 0.05;
    font-weight: 750;
    margin-top: 18px;
    position: absolute;
    top: 10px;
    left: 60px;
    z-index: 5;
}

h2.orbitron-pink:nth-of-type(2) {
    font-size: 30px;
    line-height: 0.05;
    font-weight: 750;
    margin-top: 18px;
    position: relative;
}

h1 {
    font-size: 115px;
    line-height: 100px;
    font-weight: 800;
    margin-top: 60px;
    margin-bottom: -10px;
    margin-left: 10px;
}

h4 {
    line-height: 20px;
    font-weight: 400;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 80px;
        margin-top: 40px;
        line-height: 70px;
    }

    h2.orbitron-pink:first-of-type {
        font-size: 18px;
        line-height: 0.05;
        font-weight: 650;
        margin-top: 15px;
        position: absolute;
        top: 10px;
        left: 60px;
        z-index: 5;
    }

    h2.orbitron-pink:nth-of-type(2) {
        font-size: 30px;
        line-height: 0.05;
        font-weight: 750;
        margin-top: 18px;
        position: relative;
    }

    .handjet-blue {
        font-size: 32px;
    }
}

@media (max-width: 600px) {
    h1 {
        margin-top: 50px;
        font-size: 60px;
        line-height: 55px;
        font-weight: 1200;
        margin-left: 5px;
    }

    h2 {
        font-size: 14px;
    }

    h2.orbitron-pink:first-of-type {
        font-size: 15px;
        line-height: 15px;
        font-weight: 750;
        margin-top: 18px;
        position: absolute;
        top: -5px;
        left: 60px;
        z-index: 5;
    }

    h2.orbitron-pink:nth-of-type(2) {
        font-size: 25px;
        line-height: 0.05;
        font-weight: 750;
        margin-top: 18px;
        margin-left: 6px;
        position: relative;
    }

    .handjet-blue {
        margin-left: 10px;
    }

    h4 {
        font-size: 14px;
        line-height: 13px;
        font-weight: 600;
        margin-left: 5px;
    }
}
