body {
    background-color: #f1eee0;
    background-image: url(img1/grain.png);
    padding: 5px;
}

h1 {
    font-family: "DM Sans", sans-serif;
    text-align: left;
    color: #08449d;
    font-size: 60px;
    font-weight: bold;
    line-height: 0.75;
}

pre {
    color: #bf0f0f;
    line-height: 0.75;
}

input {
    color: #08449d;
    font-family: 'Segoe UI', sans-serif; 
}

.longscreen {
    display: block;
}

.shortscreen {
    display: none;
}


hr {
    margin-top: -30px;
    margin-bottom: 5px;
    border: 1.25px dashed #bf0f0f;
}

.subtext {
    font-family: "Geist Mono", monospace;
}

h4 {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    color: #bf0f0f;
    margin-top: -30px;
    
}

@media (max-width: 1275px) {
    .longscreen {
        display: none;
    }

    .shortscreen {
        display: block;
        color: #bf0f0f;
        font-family: 'Segoe UI', sans-serif;
    }

    strong {
        font-family: 'Segoe UI', sans-serif;
    }

    .bird {
        font-size: 14px;
        letter-spacing: 3px;
        line-height: 0.5px;
        text-align: center; 
    }

    input {
        font-size: 1rem; 
        font-family: 'Segoe UI', sans-serif; 
        margin-left: 20px;
        width: auto;
    }

    .subtext {
        font-size: 15px;
        text-align: center;
        font-weight: 600;
        letter-spacing: -0.3px;
        line-height: 17px;
        margin-bottom: 40px;
    }

    .sec1 {
        margin-left: -2vw;
    }

    .sec2 {
        margin-left: 1vw;
    }

    .sec3 {
        margin-left: 3vw;
    }

    h1 {
        font-size: 55px;
        line-height: 50px;
    }

    h4 {
        font-size: 16px;
        margin-top: -36px;
    }
}

@media (max-width: 825px) {
    .longscreen {
        display: none;
    }

    .shortscreen {
        display: block;
        color: #bf0f0f;
        font-family: 'Segoe UI', sans-serif; 
    }

    strong {
        font-family: 'Segoe UI', sans-serif;
    }

    .subtext {
        font-size: 13px;
        font-weight: 650;
        text-align: left;
        line-height: 18px;
    }

    .sec1 {
        margin-left: 10px;
    }

    .sec2 {
        margin-left: 50px;
    }

    .sec3 {
        margin-left: 10px;
    }

    .bird {
        font-size: 8px;
        letter-spacing: 1px;
        line-height: 0.05px;
        text-align: center;
    }

    input {
        font-size: 1rem;
        font-family: 'Segoe UI', sans-serif;
        margin-left: 20px;
        display: inline-block;
        width: auto; 
    }

    h1 {
        font-size: 45px;
        line-height: 43px;
    }

    h4 {
        font-size: 15px;
        margin-top: -30px;
    }
}