body {
    background-color: #f1eee0;
    padding: 5px;
}

h1 {
    font-family: 'Segoe UI', sans-serif;
    text-align: left;
    color: #08449d;
    font-size: 45px;
    font-weight: bold;
    line-height: 0.75;
}

pre {
    color: #bf0f0f;
    line-height: 0.75;
}

input {
    color: #08449d;
    font-family: 'Segoe UI', sans-serif; 
}

.longscreen {
    display: block;
}

.shortscreen {
    display: none;
}

@media (max-width: 1275px) {
    .longscreen {
        display: none;
    }

    .shortscreen {
        display: block;
        text-align: center;
        color: #bf0f0f;
        font-family: 'Segoe UI', sans-serif;
    }

    strong {
        font-family: 'Segoe UI', sans-serif;
    }

    .bird {
        font-size: 14px;
        letter-spacing: 3px;
        line-height: 0.5px;
        text-align: center; 
    }

    input {
        font-size: 1rem; 
        font-family: 'Segoe UI', sans-serif; 
        margin-left: 20px;
        width: auto;
    }
}

@media (max-width: 825px) {
    .longscreen {
        display: none;
    }

    .shortscreen {
        display: block;
        color: #bf0f0f;
        font-family: 'Segoe UI', sans-serif; 
    }

    strong {
        font-family: 'Segoe UI', sans-serif;
    }

    .subtext {
        text-align: left;
        margin-left: 40px;
    }

    .bird {
        font-size: 8px;
        letter-spacing: 1px;
        line-height: 0.05px;
        text-align: center;
    }

    input {
        font-size: 1rem;
        font-family: 'Segoe UI', sans-serif;
        margin-left: 20px;
        display: inline-block;
        width: auto; 
    }
}
