body {
    line-height: 2.5;
    margin-left: 20px;
    background-color: rgb(209, 209, 209);
}

h1 {
    color: black;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-size: 120px;
    font-weight: 450;
    letter-spacing: -8px;
    line-height: 95px;
    margin-top: 20px;
    margin-bottom: -5px;
}

.image-container {
    position: relative;  /* Relative positioning for absolute positioning of children */
    margin-top: 20px;
}

.image-container a {
    display: block;
    text-align: center;
    position: absolute; /* This allows specific positioning of each link */
}

.image-container img {
    width: 100px;
    height: auto;
    transition: transform 0.2s ease;
}

.image-container img:hover {
    transform: scale(1.1);
}

#hover-text {
    position: fixed;
    top: 20px;
    right: 20px;
    font-family: "Space Grotesk", sans-serif;
    color: black;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.8px;
    border-radius: 5px;
    z-index: 10;
    pointer-events: none;
}

#usps {
    top: 50px;
    left: 500px;
}

#lsd {
    top: 50px;
    left: 200px;
}

#tour {
    top: 50px;
    left: 350px;
}

#nett {
    top: 200px;
    left: 50px;
}

#camera {
    top: 200px;
    left: 200px;
}

#kafka {
    top: 200px;
    left: 350px;
}

#wonder {
    top: 350px;
    left: 50px;
}

#guy {
    top: 350px;
    left: 200px;
}

#health {
    top: 350px;
    left: 350px;
}

#light {
    top: 350px;
    left: 350px;
}

#sxs {
    top: 350px;
    left: 500px;
}

@media (max-width: 800px) {
    h1 {
        font-size: 70px;
        font-weight: 420;
        letter-spacing: -5.25px;
        line-height: 60px;
    }
    .image-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .image-container img {
        width: 90px;
        height: auto;
    }

    #hover-text {
        display: block;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 55px;
        font-weight: 450;
        letter-spacing: -4px;
        line-height: 50px;
        margin-right: 150px;
    }
    .image-container {
        grid-template-columns: (2, 1fr);
    }

    .image-container img {
        width: 80px;
        height: auto;
        padding: 3px;
    }

    #hover-text {
        display: none;
    }

    #usps {
        top: 10px;
        left: 10px;
    }

    #lsd {
        top: 10px;
        left: 90px;
    }

    #tour {
        top: 10px;
        left: 170px;
    }

    #nett {
        top: 130px;
        left: 10px;
    }

    #camera {
        top: 130px;
        left: 90px;
    }

    #kafka {
        top: 130px;
        left: 170px;
    }

    #wonder {
        top: 240px;
        left: 10px;
    }

    #guy {
        top: 240px;
        left: 90px;
    }

    #light {
        top: 240px;
        left: 170px;
    }

    #sxs {
        top: 350px;
        left: 10px;
    }
}
