body {
    line-height: 2.5;
    margin-left: 20px;
    background-color: rgb(209, 209, 209);
}

h1 {
    color: black;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-size: 120px;
    font-weight: 450;
    letter-spacing: -8px;
    line-height: 95px;
    margin-top: 20px;
    margin-bottom: -5px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    margin-top: 20px;
}

.image-container a {
    display: block;
    text-align: center;
    position: relative;
}

.image-container img {
    width: 28%;
    height: auto;
    transition: transform 0.2s ease;
}

.image-container img:hover {
    transform: scale(1.1);
}

#hover-text {
    position: fixed;
    top: 20px;
    right: 20px;
    font-family: "Space Grotesk", sans-serif;
    color: black;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.8px;
    border-radius: 5px;
    z-index: 10;
    pointer-events: none;
}

@media (max-width: 800px) {
    h1 {
        font-size: 70px;
        font-weight: 420;
        letter-spacing: -5.25px;
        line-height: 60px;
    }
    .image-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .image-container img {
        width: 35%;
        height: auto;
    }

    #hover-text {
        display: block;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 55px;
        font-weight: 450;
        letter-spacing: -4px;
        line-height: 50px;
        margin-right: 150px;
    }
    .image-container {
        grid-template-columns: 1fr;
    }

    .image-container img {
        width: 25%;
        height: auto;
        padding: 5px;
    }

    #hover-text {
        display: block;
    }
}