body {
    margin: 0;
    height: 100vh;
    background-image: url(img2/background.gif);
    background-color: #fff8dc;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
    opacity: 0;
    animation: fadeIn 4s forwards;
}

html, body {
    margin: 0; 
    height: 100%;
    overflow: hidden;
    margin-top: -10px;
}

.home {
    display: block;
    margin-left: auto;
    margin-bottom: -20px;
  }

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

h2{
    text-decoration: wavy;
    text-align: right;
    color: #05f129;
    font-size: 45px;
    font-style: italic;
    letter-spacing: -0.5px;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff8dc;
    font-size: 13px;
    line-height: 1.5;
    text-align: right;
    flex-grow: unset;
}

a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #05f129;

    font-size: 13px;
    text-align: right;
    flex-grow: unset;
}

.train {
    position: fixed;
    width: 300px;
    height: auto;
    bottom: 10px;
    right: -400px;
    animation: moveTrain 16s linear infinite;
    pointer-events: none;
}

@keyframes moveTrain {
    0% {
        right: -400px;
    }
    100% {
        right: 100%;
    }
}


@media (max-width: 600px) {
    h2 {
        font-size: 38px;
        letter-spacing: -1.5px;
    }
    h4 {
        font-size: 12px;
        line-height: 1.7;
        letter-spacing: -0.5px;
    }
    a{
        font-size: 12px;
    }
    html, body {
        margin-top: -10px;
        margin-right: -10px;
    }
    .home {
        margin-bottom: -22.5px;
    }
    .train {
        bottom: 18px;
        width: 250px;
        animation: moveTrain 10s linear infinite;
    }
}

@media (max-width: 450px) {
    h2 {
        font-size: 33px;
    }
    h4 {
        font-size: 11px;
        line-height: 1.8;
        letter-spacing: -0.6px;
    }
    a{
        font-size: 11px;
    }
    html, body {
        margin-top: -5px;
        margin-right: -9px;
    }
    .home {
        display: block;
        margin-left: auto;
        margin-bottom: -25px;
    }
    .train {
        bottom: 22px;
        width: 225px;
        animation: moveTrain 7.5s linear infinite;
    }
}

