body {
    margin: 0;
    height: 100vh;
    background-image: url(img2/background.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
    opacity: 0;
    animation: fadeIn 4s forwards;
}

html, body {
    margin: 0; 
    height: 100%;
    overflow: hidden;
    margin-top: -5px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

h2{
    text-decoration: wavy;
    text-align: right;
    color: #05f129;
    font-size: 46px;
    font-style: italic;
    letter-spacing: -0.5px;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cornsilk;
    font-size: 15px;
    line-height: 1.5;
    text-align: right;
    flex-grow: unset;
}

a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #05f129;

    font-size: 15px;
    text-align: right;
    flex-grow: unset;
}

@media (max-width: 600px) {
    h2 {
        font-size: 38px;
        letter-spacing: -1.5px;
    }
    h4 {
        font-size: 12px;
        line-height: 1.7;
        letter-spacing: -0.5px;
    }
    a{
        font-size: 12px;
    }
    html, body {
        margin-top: -10px;
        margin-right: -10px;
    }
}

@media (max-width: 395px) {
    h2 {
        font-size: 33px;
    }
    h4 {
        font-size: 10.5px;
        line-height: 1.6;
        letter-spacing: -0.8px;
    }
    a{
        font-size: 10.5px;
    }
    html, body {
        margin-top: -12px;
        margin-right: -9px;
    }
}

